@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

/* Notes:

Content area is 1600px - centered - with 160px of padding on each side:
    Translates to 10% padding each side.

*/

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1f2029;
  color: #c6c9d4;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  color: inherit;
}

.gradient-background {
  background: linear-gradient(
    256.62deg,
    #2fdfd4 0%,
    #2fcddf 47.86%,
    #59afff 100%
  );
}

.vcenter {
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-weight: bold;
  font-size: 4.5em;
  line-height: 104%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: white;
}

.outer-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-content-area {
  position: static;
  max-width: 1600px;
  margin: 36px 10% 0 10%;
  overflow: hidden;
}

.header-container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.upper-left-nav {
  font-weight: 600;
  font-size: 1.125em;
  letter-spacing: -0.045em;
  color: white;
}

.upper-left-nav__button:first-child {
  margin-left: 0;
}

.upper-left-nav__button:last-child {
  margin-right: 0;
}

.upper-left-nav__button {
  margin: 0 2vw;
}

.logo-header {
  position: relative;
  font-weight: 900;
  font-size: 2.25em;
  letter-spacing: -0.025em;
  line-height: 104%;
  text-transform: uppercase;
  color: white;
  transform-origin: center;
  transform: translate(-4.1ch);
}

.join-button {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  padding: 1.8em 0;
  color: #1f2029;
  border: 1px solid #1f2029;
  border-radius: 1px;

  font-weight: bold;
  font-size: 0.875em;
  line-height: 112.9%;

  text-align: center;
  letter-spacing: -0.045em;
  text-transform: uppercase;

  color: #1f2029;
}

.join-button--white {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 112.9%;
  border: none;
  text-align: center;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  background-color: white;
}

.join-button--white svg {
  position: absolute;
  right: 1.25em;
}

/* Note, will need to move this on mobile */
.social-sidebar {
  position: absolute;
  right: 5%;
  top: calc(
    31ch + (4em * 3) + 30vh
  ); /* elemnt character width, plus slash spacing, plus 30vh from top of page */

  color: #c6c9d5;
  font-size: 0.7em;
  line-height: 112.9%;
  text-align: center;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  transform-origin: right;
  transform: rotate(90deg);
}

.slash-spacer {
  margin: 0 2em;
}

.you-here__container {
  padding-top: 2em;
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.you-here__overlay {
  position: absolute;
  width: 100%;
  height: 42.60vw;
  background: rgba(33, 34, 36, 0.45);
  z-index: 1;
}

.you-here__text {
  position: absolute;
  left: calc(50% - (54% / 2)); /* center */
  top: 15%;
  width: 54%;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: white;
}

/* Note: Needs media query to avoid overlap */
.you-here__arrow {
  position: absolute;
  left: calc(50% - (75px / 2));
  bottom: 45%;
  width: 75px;
  height: 75px;
  background-color: #1f2029;
  border-radius: 100%;
}

.you-here__arrow svg {
  transform-origin: center;
  transform: scale(0.8);
  position: absolute;
  left: 38%;
  top: 35%;
}

.you-here__image {
  position: relative;
  width: 110%;
  height: auto;
  left: -5%;
}

/* About Section */
.about-section {
  margin-top: 4em;
}

.about-section__heading {
  margin: 0 auto;
  max-width: 956px;
  text-align: center;
}

.about-section__columns-container {
  margin: 3.5em 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.about-section__details {
  width: 40%;
  margin-right: 10%;
}

.about-section__details p {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 130%;

  letter-spacing: -0.045em;

  color: #c6c9d4;
}

.about-section__details p:first-of-type {
  margin-bottom: 1.5em;
}

.about-section__image-container {
  position: relative;
}

.about-section__image {
  width: 100%;
  height: auto;
}

.about-section__badge {
  position: absolute;
  top: -70px;
  left: 8%;
}

.about-section__closing-text {
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  width: 75%;
  margin: 1.5em auto 2.5em;
}

.about-section__closing-text--highlight {
  color: #2fcddf;
}

hr {
  border: 1px solid #c6c9d4;
}

/* Features Section */

.features__flex-container {
  margin: 5em 0;
  display: flex;
  flex-direction: row;
}

.features__column {
  width: 50%;
}

.features__section-title {
  
}

.features__box {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
}

.features__box:first-of-type {
  margin-top: 0;
}

.features__image {
  position: relative;
}

.features__image-symbol {
  position: absolute;
  left: calc(62.5px - 24.5px);
  top: calc(62.5px - 25.5px);
}

.features__image-symbol--pyramid {
  left: calc(62.5px - 30px);
  top: calc(62.5px - 24px);
}

.features__text {
  margin: 2.2em 0 0 2.2em;
  flex-direction: column;
}

.features__heading {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: white;
}

.features__description {
  margin-top: 0.5em;
  font-size: 1.125em;
  line-height: 150%;
  letter-spacing: -0.045em;
  color: #c6c9d4;
}

/* Call to Action Box */

.call-to-action__box {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6em 0;
  background: linear-gradient(
    254.13deg,
    #2fdfb5 0%,
    #2fcddf 48.48%,
    #3fa0fa 100%
  );
  color: #1f2029;
}

.call-to-action__headline {
  font-weight: bold;
  font-size: 3em;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.02em;
}

.call-to-action__text {
  font-weight: 500;
  font-size: 1.125em;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.045em;
  width: 50%;
  padding-bottom: 2em;
}

/* Key Benefits Section */
.key-benefits__heading {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
}

.key-benefits__column-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 5em;
}

.key-benefits__column {
  box-sizing: border-box;
  width: 50%;
  border: 4px solid #292a34;
  padding: 4em;
}

.key-benefits__column:first-of-type {
  border-right: none;
}

.key-benfits__numeral {
  margin-bottom: 2em;
}

.key-benfits__text {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 150%;
  letter-spacing: -0.045em;
}

.follow__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 4em;
}

.follow__column {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 50%;
  color: white;
  justify-content: center;
  align-items: center;
}

.follow__heading {
  margin-bottom: 0.5em;
  align-self: flex-start;
}

.follow__text {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 130%;
  letter-spacing: -0.045em;
  color: #c6c9d4;
  padding-right: 10%;
}

.follow__badge {
  margin: 0 1em;
}

/* Footer */

.footer {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  padding: 5em 3em 2em 3em;
  color: #1f2029;
}

.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__intro {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.045em;
}

.footer__email {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  line-height: 120%;

  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 1.5em;
}

.upper-left-nav--footer {
  display: inline-block;
  color: #1f2029;
}

.footer__copywrite {
  display: inline-block;
  width: fit-content;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 112.9%;
  text-align: right;
  letter-spacing: -0.045em;

  color: #1f2029;
}

/* Media Queries for responsiveness */

@media (max-width: 1366px) {

  .you-here__arrow {
    bottom: 35%;
  }

  .you-here__text {
    top: 5%;
  }

}

@media (max-width: 1175px) {
  
  /* Main image */
  .you-here__arrow {
    bottom: 15%;
  }

  .you-here__text {
    top: 5%;
  }

  /* Header */
  .upper-left-nav {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 9ch;
  }

  .upper-left-nav__button {
    margin: 0;
  }

  /* Features Section */
  .features__flex-container {
    flex-wrap: wrap;
  }

  .features__column {
    width: 100%;
  }

  .features__section-title {
    margin-bottom: 1em;
  }

  /* Follow Section */
  .follow__container {
    flex-wrap: wrap;
  }

  .follow__column {
    width: 100%;
    justify-content: left;
    align-items: flex-start;
  }

  .follow__text {
    margin-bottom: 1em;
  }

  .follow__badge:first-of-type {
    margin-left: 0;
  }

  /* Key Benefits Section */

  .key-benefits__column-container {
    flex-wrap: wrap;
  }

  .key-benefits__column {
    width: 100%;
  }

  .key-benefits__column:first-of-type {
    border-right: 4px solid #292a34;
    border-bottom: 0;
  }

  .key-benefits__heading {
    text-align: left;
    margin-bottom: 0.2em;
  }

}

@media (max-width: 768px) {

  .section-heading {
    font-size: 2.5em;
  }

  .social-sidebar {
    position: static;
    transform: none;
    margin: 1em 0;
  }

  .slash-spacer {
    margin: 1em;
  }

  .main-content-area {
    /* box-sizing: border-box; */
    width: 100vw;
    margin: 0;
  }

  .you-here__container {
    
  }

  .you-here__overlay {
    height: 52.5vw;
  }

  .you-here__text {
    font-size: 3em;
  }

  .you-here__arrow {
    visibility: hidden;
  }


  /* Features Section */
  .features__flex-container {
    padding: 0;
    /* padding-right: 1em; */
  }

  .features__section-title {
    margin: 0 0 0 0.65em;
  }

  .features__box {
    /* display: block; */
    padding-right: 0.3em;
  }

  .features__image {
    transform-origin: center;
    transform: scale(0.5);
    /* float: left; */
  }

  .features__heading {
    font-size: 1.5em;
  }

  .features__text {
    margin-right: 0.2em;
    margin-left: -1em;
  }

  /* Call to action Box */

  .call-to-action__text {
    width: 90%;
  }

  /* Key Benfits */

  .key-benefits__heading {
    padding-left: 0.2em;
  }

  .key-benefits__column {
    padding: 1em;
  }

  /* Follow */

  .follow__container {
    box-sizing: border-box;
    padding: 0.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .follow__heading {
    align-self: center;
  }

  .follow__text {
    padding: 0 0.5em;
  }

  .follow__badge:first-of-type {
    margin: 1em;
  }

  /* Footer */

  .footer__email {
    font-size: 2em;
  }

  .footer__row {
    align-items: center;
  }


}