@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");

/* Notes:

Content area is 1600px - centered - with 160px of padding on each side:
    Translates to 10% padding each side.

*/

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1f2029;
  color: #c6c9d4;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  color: inherit;
}

.gradient-background {
  background: linear-gradient(
    256.62deg,
    #2fdfd4 0%,
    #2fcddf 47.86%,
    #59afff 100%
  );
}

.main-content-area {
  position: static;
  margin: 36px 10% 0 10%;
}

.header-container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.upper-left-nav {
  font-weight: 600;
  font-size: 1.125em;
  letter-spacing: -0.045em;
}

.upper-left-nav__button:first-child {
  margin-left: 0;
}

.upper-left-nav__button:last-child {
  margin-right: 0;
}

.upper-left-nav__button {
  margin: 0 2em;
}

.logo-header {
  position: relative;
  font-weight: 900;
  font-size: 36px;
  letter-spacing: -0.025em;
  line-height: 104%;
  text-transform: uppercase;
  color: white;
  margin-left: -50%;
}

.join-button {
  width: 200px;
  height: 4.25em;
  color: #1f2029;
  border: 1px solid #1f2029;
  border-radius: 1px;
}

/* Note, will need to move this on mobile */
.social-sidebar {
  position: absolute;
  right: -10vw;
  top: 366px;

  color: #c6c9d5;
  font-size: 0.875em;
  line-height: 112.9%;
  text-align: center;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  transform: rotate(90deg);
}

.slash-spacer {
  margin: 0 2em;
}

.you-here__container {
  padding-top: 2em;
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.you-here__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 34, 36, 0.45);
  z-index: 1;
}

.you-here__text {
  position: absolute;
  left: calc(50% - (54%/2)); /* center */
  top: 15%;
  width: 54%;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: white;
}

.you-here__arrow {
}

.you-here__image {
  position: relative;
  width: 110%;
  height: auto;
  left: -5%;
}
